@import '../../assets/scss/vars';

.instruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-weight: bold;
  font-size: 2rem;
  color: $warning;

  p:last-child {
    margin-bottom: 0;
  }
}
