@import "../../assets/scss/vars";

.logo {
  display: flex;
  align-items: flex-end;

  &:hover {
    text-decoration: none;

    .logo__descr span {
      color: $warning;
    }
  }
}

.logo__img {
  width: 100%;
  max-width: 5rem;

  fill: $warning;
}

.logo__descr {
  margin-bottom: 1rem;

  font-size: 2.3rem;
  font-family: $secondFont;
  color: $warning;

  span {
    color: $secondary;

    transition: $def-transition;
  }

  @media screen and (max-width: $phoneWidth) {
    font-size: 1.5rem;
  }
}
