@import "../../assets/scss/vars";

.birds-list-item {
  cursor: pointer;

  transition: $def-transition;

  &:hover {
    background-color: #444444;
  }

  span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 15px;

    background-color: $primary;
    border-radius: 50%;

    transition: $def-transition;
  }
}

.birds-list-item--wrong {
  span {
    background-color: $danger;
  }
}

.birds-list-item--right {
  span {
    background-color: $success-light;
  }
}