@import "../../assets/scss/vars";

.groups-list-item {
  text-align: center;
  
  p {
    margin-bottom: 0;
    color: $primary;
    background-color: $light;
  }
  
  p:hover {
    color: $primary;
    background-color: $light;
  }

  &.active.page-item p {
    color: $dark;
    background-color: $secondary;
    border-color: $secondary;
  }
}